version: '3.8'

name: 'food-delivery-platform'

services:
    user-service:
        image: ram063527/fooddelivery-user-service
        container_name: user-service
        environment:
          - DB_URL=jdbc:postgresql://users-db:5432/usersdb
          - DB_USERNAME=postgres
          - DB_PASSWORD=postgres
        ports:
          - "8081:8081"
        restart: unless-stopped
        depends_on:
          users-db:
            condition: service_healthy
        deploy:
          resources:
            limits:
              memory: 700m

    restaurant-service:
        image: ram063527/fooddelivery-restaurant-service
        container_name: restaurant-service
        environment:
            - DB_URL=jdbc:postgresql://restaurants-db:5432/restaurantsdb
            - DB_USERNAME=postgres
            - DB_PASSWORD=postgres
            - RESTAURANT_USER_SERVICE_URL=http://user-service:8081 #restaurant.user-service-url=http://localhost:8081
        ports:
            - "8082:8082"
        restart: unless-stopped
        depends_on:
          restaurants-db:
            condition: service_healthy
        deploy:
          resources:
            limits:
              memory: 700m



