name: restaurant-service.yml

on:
    push:
        paths:
        - restaurant-service/**
        branches:
        - main


jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        env:
            working-directory: ./restaurant-service
            DOCKER_IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/fooddelivery-restaurant-service
        defaults:
            run:
                working-directory: ${{ env.working-directory }}
        steps:
        - uses: actions/checkout@v5

        - name: Setup Java 21
          uses: actions/setup-java@v5
          with:
            java-version: '21'
            distribution: 'temurin'
            cache: 'maven'

        - name: Build with Maven
          run: |
            chmod +x mvnw
            ./mvnw -ntp verify
            

        - if: ${{ github.ref == 'refs/heads/main' }}
          name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - if: ${{ github.ref == 'refs/heads/main' }}
          name: Build and Push Docker Image
          run: |
            ./mvnw spring-boot:build-image -DskipTests
            echo "Pushing the image $DOCKER_IMAGE_NAME to Docker Hub..."
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/fooddelivery-restaurant-service
